.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    width: 90%;
    height: 70vh;
}

.day__name{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-day{
    grid-column-start: 5;
}

.day{
    border: 1px solid rgb(247, 247, 247);
    text-align: right;
    padding-right: 1rem;
}