.modal__container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.modal__form{
    margin-top: -100px;
    background: #FFFFFF;
    border: 1px solid rgba(5, 119, 196, 0.5);
    border-radius: 3px;
    width: 400px;
    height: 300px;
    padding: 30px;
    z-index: 20;
    box-shadow: 0 0 10px rgba(20, 118, 247, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal__title{
    width: 100%;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid rgb(29, 135, 197);
}

input{
    width: 50%;
}